/* font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 72px;
  border-bottom: 1px solid rgb(218, 218, 218);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

#navbar .logo a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

#navbar ul {
  display: flex;
  align-items: center;
}

#navbar ul li {
  list-style: none;
  padding: 16px;
}

#navbar ul li a {
  text-decoration: none;
  color: black;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#welcome-section h1 {
  font-size: 3rem;
  margin-bottom: 24px;
}

#welcome-section p {
  font-size: 20px;
  opacity: 0.7;
}

#about {
  padding: 6rem 4rem;
  background-color: #0f4c75;
  color: white;
}

#projects,
#contact {
  padding: 6rem 4rem;
}

#about .about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-flex p {
  line-height: 1.8;
  text-align: center;
  margin-top: 16px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 24px;
}

#projects .section-title,
#contact .section-title {
  margin-bottom: 3rem;
}

.my-image {
  width: 200px;
  border-radius: 8px;
}

.project-flex {
  display: flex;
  justify-content: space-around;
}

.project-flex a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.project-tile {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p.project-title {
  text-align: center;
  padding: 8px;
  background-color: #0f4c75;
  color: white;
  border-radius: 8px;
}

img.project-image {
  width: 350px;
  height: 230px;
  border-radius: 8px;
}

.contact-flex {
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#profile-link {
  text-decoration: none;
  color: black;
  padding: 16px;
  background-color: #0f4c75;
  border-radius: 8px;
  color: white;
}

.contact-flex p {
  text-align: center;
}

img.contact-image {
  width: 80px;
}

#footer {
  padding: 1.5rem;
  background-color: #0f4c75;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .project-flex {
    flex-direction: column;
    width: 100%;
  }

  img.project-image {
    width: 100%;
    height: 100%;
  }

  p.project-title {
    margin-top: 16px;
  }

  .project-tile {
    height: 100%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 992px) {
  #about .about-flex {
    display: block;
  }

  .about-flex p {
    margin-left: 0;
    text-align: center;
  }

  .my-image {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #navbar ul {
    display: none;
  }

  .section-title {
    font-size: 24px;
  }

  p.project-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  #welcome-section {
    height: 80vh;
  }

  #welcome-section h1 {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  #welcome-section p {
    font-size: 16px;
    opacity: 1;
  }

  #about,
  #projects,
  #contact {
    padding: 4rem 1rem;
    width: 100%;
  }
}
